{%extends "index.html"%}
{%load static%}
{%block body%}

			<!-- Breadcrumbs Start -->
			<div class="rs-breadcrumbs img1">
			    <div class="container">
			        <div class="breadcrumbs-inner">
			            <h1 class="page-title">
			               	About Us
			            </h1>
			            <!-- <span class="sub-text">Excepteur sint occaecat cupidatat non proident, sunt in coulpa qui official<br> 
			            modeserunt mollit anim id est 20 years experience.</span> -->
			            <ul class="breadcrumbs-area">
                           <li title="Go to konstruk">
                               <a class="active" href="/">Home</a>
                           </li>
                          <li>About</li>
                       </ul>
			        </div>
			    </div>
			</div>
			<!-- Breadcrumbs End -->
		
			<!-- About Start -->
			<div class="rs-about about-style1 bg1 pt-120 pb-120 md-pt-80 md-pb-75">
				<div class="container">
					<div class="row y-middle">
						<div class="col-lg-6 md-mb-50">
							<div class="images-part">
								<img src="{%static 'assets/images/photography/p2.jpg'%}" alt="About">
							</div>
						</div>
						<div class="col-lg-6 pl-50 md-pl-15">
							<div class="sec-title">
								<span class="sub-text">
									<img src="{%static 'assets/images/shape-1.png'%}" alt="Images">
									Who We Are
								</span>
								<h2 class="title pb-20">
									Professional Photographer
								</h2>
								<p class="desc pb-37">
									Photography is a fascinating art and practice of capturing light with a camera to create images. Here are some key points about photography:
								</p>
								<p>Photography has a rich history dating back to the early 19th century when the first permanent photograph was created by Joseph Nicéphore Niépce in 1826 or 1827.</p>
								<p>There are various types of cameras available, ranging from basic point-and-shoot cameras to advanced DSLRs (Digital Single Lens Reflex) and mirrorless cameras. Each type has its own features and advantages.</p>
								<div class="row y-middle">
									<div class="col-lg-4 col-md-4 sm-mb-30">
										<div class="about-img">
											<img src="{%static 'assets/images/photography/p5.jpg'%}" alt="About">
										</div>
									</div>
									<div class="col-lg-8 col-md-8">
										<ul class="check-lists">
				        					<li class="list-item">
												<span class="icon-list-icon">
													<i class="fa fa-check-circle"></i>						
												</span>
												<span class="list-text">Portrait Photography: </span>
											</li>
											<li class="list-item">
												<span class="icon-list-icon">
													<i class="fa fa-check-circle"></i>						
												</span>
												<span class="list-text">Event Photography:</span>
											</li>
											<li class="list-item">
												<span class="icon-list-icon">
													<i class="fa fa-check-circle"></i>						
												</span>
												<span class="list-text">Commercial Photography:</span>
											</li>
				        				</ul>
									</div>
								</div>
								<!-- <div class="row mt-47 md-mt-25">
									<div  class="col-lg-6 col-md-4 sm-mb-30">
										<div class="btn-part">
											<a class="readon more know" href="about.html">Know more</a>
										</div>
									</div>
									<div class="col-lg-6 col-md-8">
										<div class="signeture-img">
											<img src="{%static 'assets/images/about/style1/signeture1.png'%}" alt="Images">
										</div>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- About End -->

			

		</div> 
		<!-- Main content End -->
	 
		{%endblock%}