{%extends "index.html"%}
{%load static%}
{%block body%}

			<!-- Breadcrumbs Start -->
			<div class="rs-breadcrumbs img2">
			    <div class="container">
			        <div class="breadcrumbs-inner">
			            <h1 class="page-title">
			               	Projects
			            </h1>
			            <!-- <span class="sub-text">Excepteur sint occaecat cupidatat non proident, sunt in coulpa qui official<br> 
			            modeserunt mollit anim id est 20 years experience.</span> -->
			            <ul class="breadcrumbs-area">
                           <li title="Go to konstruk">
                               <a class="active" href="/">Home</a>
                           </li>
                          <li>Projects</li>
                       </ul>
			        </div>
			    </div>
			</div>
			<!-- Breadcrumbs End -->

			<!-- Project Section Start -->
			<div class="rs-project project-style1 gray-bg pt-120 pb-120 md-pt-80 md-pb-80">
			    <div class="container">
			    	<div class="sec-title text-center mb-45">
			    		<!-- <span class="sub-text">
			    			<img src="{%static 'assets/images/shape-1.png'%}" alt="Images">
			    			Projects
			    		</span> -->
			    		<h2 class="title">
			    			Completed projects
			    		</h2>
			    	</div>
			        <!-- <div class="gridFilter gridfilter-style2 mb-47 text-center">
			            <button class="active" data-filter="*">All</button>
			            <button data-filter=".filter1">Architecture</button>
			            <button data-filter=".filter2">House & Exterior</button>
			            <button data-filter=".filter3">House Renovation</button>
			            <button data-filter=".filter4">Interiors</button>
			        </div>                     -->
			        <div class="row grid">
						<div class="col-lg-4 col-md-6 mb-30 grid-item filter1">
			                <div class="project-item">
			                    <div class="project-img">
			                        <a href="/project-single"><img src="{%static 'assets/images/photography/p8.jpg'%}" alt="images"></a>
			                    </div>
			                    <div class="project-content">  
			                        <div class="project-inner">
			                            <h3 class="title"><a href="/project-single">Fashion Photography</a></h3>
			                            <span class="category"><a href="/project-single">Fashion Photography</a></span>
			                        </div>
			                        <div class="p-icon"><a href="/project-single"><i class="flaticon-next"></i></a></div>
			                    </div>
			                </div>
			            </div>
						<div class="col-lg-4 col-md-6 mb-30 grid-item filter1">
			                <div class="project-item">
			                    <div class="project-img">
			                        <a href="/project-single"><img src="{%static 'assets/images/photography/p8.jpg'%}" alt="images"></a>
			                    </div>
			                    <div class="project-content">  
			                        <div class="project-inner">
			                            <h3 class="title"><a href="/project-single">Fashion Photography</a></h3>
			                            <span class="category"><a href="/project-single">Fashion Photography</a></span>
			                        </div>
			                        <div class="p-icon"><a href="/project-single"><i class="flaticon-next"></i></a></div>
			                    </div>
			                </div>
			            </div>
						<div class="col-lg-4 col-md-6 mb-30 grid-item filter1">
			                <div class="project-item">
			                    <div class="project-img">
			                        <a href="/project-single"><img src="{%static 'assets/images/photography/p8.jpg'%}" alt="images"></a>
			                    </div>
			                    <div class="project-content">  
			                        <div class="project-inner">
			                            <h3 class="title"><a href="/project-single">Fashion Photography</a></h3>
			                            <span class="category"><a href="/project-single">Fashion Photography</a></span>
			                        </div>
			                        <div class="p-icon"><a href="/project-single"><i class="flaticon-next"></i></a></div>
			                    </div>
			                </div>
			            </div>
						<div class="col-lg-4 col-md-6 mb-30 grid-item filter1">
			                <div class="project-item">
			                    <div class="project-img">
			                        <a href="/project-single"><img src="{%static 'assets/images/photography/p8.jpg'%}" alt="images"></a>
			                    </div>
			                    <div class="project-content">  
			                        <div class="project-inner">
			                            <h3 class="title"><a href="/project-single">Fashion Photography</a></h3>
			                            <span class="category"><a href="/project-single">Fashion Photography</a></span>
			                        </div>
			                        <div class="p-icon"><a href="/project-single"><i class="flaticon-next"></i></a></div>
			                    </div>
			                </div>
			            </div>
						<div class="col-lg-4 col-md-6 mb-30 grid-item filter1">
			                <div class="project-item">
			                    <div class="project-img">
			                        <a href="/project-single"><img src="{%static 'assets/images/photography/p8.jpg'%}" alt="images"></a>
			                    </div>
			                    <div class="project-content">  
			                        <div class="project-inner">
			                            <h3 class="title"><a href="/project-single">Fashion Photography</a></h3>
			                            <span class="category"><a href="/project-single">Fashion Photography</a></span>
			                        </div>
			                        <div class="p-icon"><a href="/project-single"><i class="flaticon-next"></i></a></div>
			                    </div>
			                </div>
			            </div>
						<div class="col-lg-4 col-md-6 mb-30 grid-item filter1">
			                <div class="project-item">
			                    <div class="project-img">
			                        <a href="/project-single"><img src="{%static 'assets/images/photography/p8.jpg'%}" alt="images"></a>
			                    </div>
			                    <div class="project-content">  
			                        <div class="project-inner">
			                            <h3 class="title"><a href="/project-single">Fashion Photography</a></h3>
			                            <span class="category"><a href="/project-single">Fashion Photography</a></span>
			                        </div>
			                        <div class="p-icon"><a href="/project-single"><i class="flaticon-next"></i></a></div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<!-- Project Section End -->

		</div> 
		<!-- Main content End -->
	 
		{%endblock%}